/* === RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === BODY === */
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

/* === CARD === */
.card {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
}

.qr-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card h1 {
  font-size: 1.3rem;
  color: hsl(218, 44%, 22%);
  margin-bottom: 0.8rem;
}

.card p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
